{% extends "bootstrap/base.html" %}

{% block title %}Betula{% endblock %}

{% block navbar %}
<style>
/* Navbar style */
    .navbar {
        list-style-type: none;
        margin-bottom: 20px;
        padding: 0;
        overflow: hidden;
        background-color: #25355A;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        border-radius: 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #cfe4ff;
        text-decoration: none;
    }
</style>
<div class="navbar">
    <div style="left: 49px; position: relative; color: white; font-size: 40px; font-family: Sora; font-weight: 600; text-transform: capitalize; word-wrap: break-word">
        <a href="/"> Betula </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
