{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Betula{% endblock %}

{% block page_content %}
    <div style="left: 250px; top: 80px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 2.40px; word-wrap: break-word">Search</div>
        <style>

        /* Style for the dropdown content */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Style for the dropdown options */
        .dropdown-content a {
            padding: 12px 16px;
            display: block;
            text-decoration: none;
            color: #333;
        }

        /* Change the background color of dropdown options when hovered */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Set sizing for search bar */
        .searching input{
            width: 300px;
            height: 40px;
            font-size: 16px;
        }
        </style>

    <!-- Text input box -->
    <div id = "search" class = "searching">
        <input type="text" id="searchTextInput" oninput="searchDropdown()" onblur="onBlur()" placeholder="Event Name">

        <!-- Dropdown content -->
        <div id="searchDrop" class="dropdown-content">
            <!-- Can choose which events to show add links to top searchs here -->
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
        </div>
    </div>

    <!-- Functions for the search bar -->
    <script>
    function searchDropdown() 
    {
        // Get the text input and the dropdown content elements
        var input = document.getElementById("searchTextInput");
        var dropdown = document.getElementById("searchDrop");

        // Show the dropdown if there is text in the input
        if (input.value.length > 0) {
            dropdown.style.display = "block";
        } else{
            dropdown.style.display = "none";
        }
    }

    function onBlur()
    {
        // If the search bar loses focus, hide the drop down menu
        var dropdown = document.getElementById("searchDrop");
        dropdown.style.display = "none";
    }
    </script>

        <!--<div style="align-self: stretch; height: 167px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="width: 628px; padding: 8px; background: white; border-radius: 4px; border: 2px #73A2FF solid; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; color: #404040; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Dropdown field data</div>
                <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 8px; height: 4px; left: 1px; top: 7px; position: absolute; border: 1px #404040 solid"></div>
                </div>
            </div>
            <div style="width: 628px; padding-left: 8px; padding-right: 8px; padding-top: 12px; padding-bottom: 12px; background: white; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); border-radius: 4px; border: 1px #DBDBDB solid; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; color: #404040; font-size: 18px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Option data</div>
                    <div style="align-self: stretch; color: #404040; font-size: 18px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Option data</div>
                    <div style="align-self: stretch; color: #404040; font-size: 18px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Option data</div>
                </div>
                <div style="width: 4px; height: 40px; background: #DBDBDB; border-radius: 2px"></div>
            </div>
        </div>-->
    </div>
    <!--<div style="width: 345px; height: 228px; left: 262px; top: 351px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>-->
    <!--<div style="width: 345px; height: 228px; left: 668px; top: 351px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>-->
    
    <!-- Show Events -->
    
    <table style="display: flex; justify-content: center; align-items: center; height: 100%; padding-top: 250px; padding-left: 30px">

        {% for event in events %}
        <td style="display: flex; justify-content: center; align-items: center; height: 100%; margin-bottom: 30px">
            <div style="width: 623px; height: 508px; position: relative; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px; overflow: hidden">
                <div style="width: 623px; height: 98px; left: 0px; top: 0px; position: absolute; background: #061945"></div>
                <div style="width: 356px; height: 39px; left: 15px; top: 27px; position: absolute; color: white; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{ event.name }}</div>
                <div style="width: 570px; height: 60px; padding: 10px; left: 21px; top: 425px; position: absolute; background: #061945; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                  <div style="width: 96px; height: 29px; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Register</div>
                </div>
                <div style="height: 52px; padding-left: 6px; padding-right: 8px; left: 380px; top: 7px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                  <div style="width: 198px; height: 52px; color: #061945; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hosted by: {{ event.organization }}</div>
                </div>
                <div style="height: 136px; padding-top: 11px; padding-bottom: 10px; padding-left: 9px; padding-right: 27px; left: 21px; top: 236px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                  <div style="width: 535px; height: 115px; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Description: {{ event.description}} </div>
                </div>
                <div style="padding-top: 3px; padding-bottom: 6px; padding-left: 12px; padding-right: 6px; left: 21px; top: 188px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px; overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
                  <div style="width: 553px; height: 24px; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Tags: {{ event.tags }}</div>
                </div>
                <div style="width: 570px; height: 26px; left: 21px; top: 385px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)"></div>
                <div style="width: 545px; height: 25px; left: 32px; top: 387px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact: {{ event.contact }}</div>
                <div style="width: 571px; height: 25px; left: 21px; top: 108px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                <div style="width: 551px; height: 24px; left: 33px; top: 109px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Where: {{ event.where }}</div>
                <div style="width: 571px; height: 24px; left: 21px; top: 148px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                <div style="width: 551px; height: 25px; left: 33px; top: 148px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">When: {{ event.when }}</div>
                <div style="width: 212px; height: 26px; left: 380px; top: 64px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                <div style="width: 184px; height: 23px; left: 392px; top: 67px; position: absolute; text-align: center; color: #061945; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Follow</div>
            </div>
        </td>
        {% endfor %}
    </table>

    <!-- End of Showing Events-->



    <!-- Button for posting -->
    <style>
        .postbutton {
            border: none;
            padding: 10px;
            margin: 10px 10px;
            text-align: center;
            text-decoration: none;
            color: #012a5c;
            font-size: 50px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 500;
            width: 60px;
            height: 60px;
            background-color: #d7e6f8;
            border-radius: 30px;
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .postbutton:hover {
            background-color: #b1d4ff;
            transition: 0.1s;
        }
    </style>
    <button class="postbutton", onclick="window.location.href ='posting';">+</button>



    <!-- Filters sidebar -->

    <div style="width: 1316px; height: 52px; left: 53px; top: 9px; position: absolute">

    <div style="height: 100%; left: 0px; top: 80px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: white; font-size: 24px; font-family: system-ui; font-weight: 500; word-wrap: break-word">Filters</div>
        <br>

        <!-- Styling for Events Filter -->
        <style>
            .facultyFilter 
            {
                display: flex;
                align-items: center;
                color: white; 
                font-size: 20px; 
                font-family: system-ui; 
                font-weight: 350; 
                word-wrap: break-word;
                position: relative; 
                margin-bottom: 0px;
            }

            .facultyFilter a 
            {
                color: white;
                text-decoration: none; /* Remove underlines from the link */
            }

            /* Style for the text that shows/hides the dropdown */
            .facultyDropdown-text 
            {
                cursor: pointer;
            }

            /* Style for the dropdown menu */
            .facultyDropdown 
            {
                display: none;
                margin-left: 20px; 
                margin-top: 0px;
            }

            /* Style for the checkboxes */
            .checkbox-label 
            {
                display: block;
                margin: 4px;
                font-family: 'system-ui';
                font-weight: 250;
                color: white;
            }

            .right-arrow::after 
            {
                content: " ▶";
                margin-right: 8px;
                cursor: pointer;
            }

            .down-arrow::after 
            {
                content: " ▼";
                margin-right: 8px;
                cursor: pointer;
            }
        </style>

        <div id="facFilter" class="facultyFilter" onclick="facultyDropdown()">
            <span class="right-arrow" id="facultyArrowIcon"></span>
            <a href="#"><span>Faculty</span></a>
        </div>
        <div class="facultyDropdown" id="facultyDrop">
            <label class="checkbox-label">
                <input type="checkbox"> Option 1
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 2
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 3
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 4
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 5
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 6
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 7
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 8
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 9
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 10
            </label>
        </div>
        <br>
        
        <!-- Functions for Faculty Filter -->
        <script>
            function facultyDropdown() 
            {
                var dropdown = document.getElementById("facultyDrop");
                // Check if the dropdown is currently visible or hidden
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none"; // If visible, hide the dropdown
                    document.getElementById("facultyArrowIcon").classList.remove("down-arrow");
                    document.getElementById("facultyArrowIcon").classList.add("right-arrow");
                } else {
                    dropdown.style.display = "block"; // If hidden, show the dropdown
                    document.getElementById("facultyArrowIcon").classList.remove("right-arrow");
                    document.getElementById("facultyArrowIcon").classList.add("down-arrow");
                }
            }
        </script>

        <!-- Styling for Topics Filter -->
        <style>
            .topcisFilter 
            {
                display: flex;
                align-items: center;
                color: white; 
                font-size: 20px; 
                font-family: system-ui; 
                font-weight: 350; 
                word-wrap: break-word;
            }
        
            .topcisFilter a 
            {
                color: white;
                text-decoration: none; /* Remove underlines from the link */
            }
        
            .topicsDropdown-container 
            {
                    position: relative;
                    display: inline-block;
            }
            
            /* Style for the text that shows/hides the dropdown */
            .topicsDropdown-text 
            {
                cursor: pointer;
            }

            /* Style for the dropdown menu */
            .topicsDropdown 
            {
                display: none;
                margin-left: 20px; 
            }

            /* Style for the checkboxes */
            .checkbox-label 
            {
                display: block;
                margin: 4px;
                font-family: 'system-ui';
                font-weight: 250;
                color: white;
            }
        </style>

        <div id="topFilter" class="topcisFilter" onclick="topicDropdown()">
            <span class="right-arrow" id="topicArrowIcon"></span>
            <a href="#"><span>Topics</span></a>
        </div>
        <div class="topicsDropdown" id="topicsDrop">
            <label class="checkbox-label">
                <input type="checkbox"> Option 1
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 2
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 3
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 4
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 5
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 6
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 7
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 8
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 9
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 10
            </label>
        </div>
        <br>

        <!-- Functions for Topic Filter -->
        <script>
            function topicDropdown() 
            {
                var dropdown = document.getElementById("topicsDrop");
                // Check if the dropdown is currently visible or hidden
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none"; // If visible, hide the dropdown
                    document.getElementById("topicArrowIcon").classList.remove("down-arrow");
                    document.getElementById("topicArrowIcon").classList.add("right-arrow");
                } else {
                    dropdown.style.display = "block"; // If hidden, show the dropdown
                    document.getElementById("topicArrowIcon").classList.remove("right-arrow");
                    document.getElementById("topicArrowIcon").classList.add("down-arrow");
                }
            }
        </script>

        <!-- Styling for Price Filter -->
        <style>
            .priceFilter 
            {
                display: flex;
                align-items: center;
                color: white; 
                font-size: 20px; 
                font-family: system-ui; 
                font-weight: 350; 
                word-wrap: break-word;
            }
        
            .priceFilter a 
            {
                color: white;
                text-decoration: none; /* Remove underlines from the link */
            }
        
            .priceDropdown-container 
            {
                position: relative;
                display: inline-block;
            }
            
            /* Style for the text that shows/hides the dropdown */
            .priceDropdown-text 
            {
                cursor: pointer;
            }

            /* Style for the dropdown menu */
            .priceDropdown 
            {
                display: none;
                margin-left: 20px; 
            }

            /* Style for the checkboxes */
            .checkbox-label 
            {
                display: block;
                margin: 4px;
                font-family: 'system-ui';
                font-weight: 250;
                color: white;
            }
        </style>

        <div id="priFilter" class="priceFilter" onclick="priceDropdown()">
            <span class="right-arrow" id="priceArrowIcon"></span>
            <a href="#"><span>Price</span></a>
        </div>
        <div class="priceDropdown" id="priceDrop">
            <label class="checkbox-label">
                <input type="checkbox"> Option 1
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 2
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 3
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 4
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 5
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 6
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 7
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 8
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 9
            </label>
            <label class="checkbox-label">
                <input type="checkbox"> Option 10
            </label>
        </div>
        <br>

        <!-- Functions for Price Filter -->
        <script>
            // Define the function to be called
            function priceDropdown() 
            {
                var dropdown = document.getElementById("priceDrop");
                // Check if the dropdown is currently visible or hidden
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none"; // If visible, hide the dropdown
                    document.getElementById("priceArrowIcon").classList.remove("down-arrow");
                    document.getElementById("priceArrowIcon").classList.add("right-arrow");
                } else {
                    dropdown.style.display = "block"; // If hidden, show the dropdown
                    document.getElementById("priceArrowIcon").classList.remove("right-arrow");
                    document.getElementById("priceArrowIcon").classList.add("down-arrow");
                }
            }
        </script>

    </div>
{% endblock %}
