{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Betula{% endblock %}

{# {% block page_content %}
    <div style="left: 250px; top: 80px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 2.40px; word-wrap: break-word">Search</div>
        <style>

        /* Style for the dropdown content */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Style for the dropdown options */
        .dropdown-content a {
            padding: 12px 16px;
            display: block;
            text-decoration: none;
            color: #333;
        }

        /* Change the background color of dropdown options when hovered */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Set sizing for search bar */
        .searching input{
            width: 300px;
            height: 40px;
            font-size: 16px;
        }
        </style>

    <!-- Text input box -->
    <div id = "search" class = "searching">
        <input type="text" id="searchTextInput" oninput="searchDropdown()" onblur="onBlur()" placeholder="Event Name">

        <!-- Dropdown content -->
        <div id="searchDrop" class="dropdown-content">
            <!-- Can choose which events to show add links to top searchs here -->
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
        </div>
    </div>

{% endblock %} #}

{% block content %}
<script type="text/javascript" charset="utf-8">
    // Universal filtering function
    function updateTag(checkboxObject, selectedTag) {
        const allEvents = {{jsonEvents|safe}};
        allEvents.forEach(event => {
            const tags = event.tags.split(",");
            // Check if event's list of tags includes the selected/deselected tag being filtered
            if (tags.includes(selectedTag)) {
                const currentEventElement = document.getElementById("event" + event.iden);
                // Check if checkbox is checked or unchecked
                if (checkboxObject.checked) {
                    // If checkbox checked, show event
                    currentEventElement.classList.remove("hiddenByTagFilter");
                    currentEventElement.style.display = "flex";

                    // Rerun search to see if event is still valid to be shown
                    runNameSearch(document.getElementById("searchTextInput"));
                } else {
                    // If checkbox not checked, check if event has been hidden by search
                    if (currentEventElement.classList.contains("hiddenByNameSearch")) {
                        // If hidden, change label to be hidden by tag filtering (takes precedence)
                        currentEventElement.classList.remove("hiddenByNameSearch");
                        currentEventElement.classList.add("hiddenByTagFilter");
                    } else {
                        // If not hidden, hide it
                        currentEventElement.classList.add("hiddenByTagFilter");
                        currentEventElement.style.display = "none";
                    }
                }
            }
        });

        checkIfNoEvents();
    }
    
    // Main search function
    function runNameSearch() {
        const input = document.getElementById("searchTextInput").value;
        const allEvents = {{jsonEvents|safe}};
        
        allEvents.forEach(event => {
            const currentEventElement = document.getElementById("event" + event.iden);
            
            // Change event only if not hidden by tag filtering already
            if (!currentEventElement.classList.contains("hiddenByTagFilter")) {
                if (input.length === 0) {
                    // If empty search bar, show all valid events
                    currentEventElement.classList.remove("hiddenByNameSearch");
                    currentEventElement.style.display = "flex";
                } else if (event.name.toLowerCase().includes(input.toLowerCase())) {
                    // If name of event includes the search string, show it
                    currentEventElement.classList.remove("hiddenByNameSearch");
                    currentEventElement.style.display = "flex";
                } else {
                    // If name of event does NOT include search string, hide it
                    currentEventElement.classList.add("hiddenByNameSearch");
                    currentEventElement.style.display = "none";
                }
            }
        });
        checkIfNoEvents();
    }

    function checkIfNoEvents() {
        const allEvents = {{jsonEvents|safe}};
        let hiddenCount = 0;
        const noEventsElement = document.getElementById("noevents");

        allEvents.forEach(event => {
            // Check if each element is shown or hidden
            const currentEventElement = document.getElementById("event" + event.iden);
            if (currentEventElement.style.display === "none") {
                hiddenCount++;
            }
        });

        if (hiddenCount === allEvents.length) {
            // If all elements hidden, show the 'no events' text
            noEventsElement.style.display = "flex";
        } else {
            // If not all elements are hidden, hide the text
            noEventsElement.style.display = "none";
        }
    }
</script>

<div style="width: 100%; height: auto; position: relative; background: #F5F5F5; min-height: 100%">
    <div style="width:100%; display:flex; flex-wrap:wrap">
        <div style="left: 240px; top: 113px; position:absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 2.40px; word-wrap: break-word">Search</div>
            <style>
    
                /* Style for the dropdown content */
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 300px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
    
                /* Style for the dropdown options */
                .dropdown-content a {
                    padding: 12px 16px;
                    display: block;
                    text-decoration: none;
                    color: #333;
                }
    
                /* Change the background color of dropdown options when hovered */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }
    
                /* Set sizing for search bar */
                .searching input{
                    width: 300px;
                    height: 40px;
                    font-size: 16px;
                }
            </style>
    
            <!-- Text input box -->
            <div id = "search" class = "searching">
                <input type="text" id="searchTextInput" oninput="runNameSearch()" onblur="onBlur()" placeholder="Event Name">
                    
                <!-- Dropdown content -->
                <div id="searchDrop" class="dropdown-content">
                    <!-- Can choose which events to show add links to top searchs here -->
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>

        </div>
    </div>
    
   
    
    <!-- Show Events -->
    <style>
        /* Style for the event contatiner */
        .eventContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 40px;
            width: 100%;
            margin-top:200px;
            margin-left:200px;
            background-color: rgba(0, 0, 0, 0);
        }
    
        /* Style for the event post */
        .eventPost {
            width: 180%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .eventGrid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
        }

        
    </style>

    <div class="eventContainer">
        <div class="eventGrid">
            {% if events|length == 0 %}
            <div id="noevents" style="display: flex; justify-content: center; align-items: center; height: 100%; margin-bottom: 30px">
                <h2>No Events</h2>
            </div>
            {% else %}
            <div id="noevents" style="display: none; justify-content: center; align-items: center; height: 100%; margin-bottom: 30px">
                <h2>No Events</h2>
            </div>
            {% endif %}

            {% for event in events %} 
            <div id="{{'event' ~ event.iden}}" class="eventPost">
            {# <div class="eventPost"> #}
                <div style=" height: 508px; position: relative; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px; overflow: hidden">
                    <div style="width: 623px; height: 98px; left: 0px; top: 0px; position: relative; background: #061945"></div>
                    <div style="width: 356px; height: 39px; left: 15px; top: 27px; position: absolute; color: white; font-size: 28px; font-family: system-ui; font-weight: 400; word-wrap: break-word">{{ event.name }}</div>
                    <!--<div style="width: 570px; height: 60px; padding: 10px; left: 21px; top: 425px; position: absolute; background: #061945; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">-->
                      <form method="POST" action="/dashboard" style="width: 96px; height: 29px; color: white; font-size: 24px; font-family: system-ui; font-weight: 400; word-wrap: break-word">
                        <button class="registerButton" name = "{{event.event_id}}" onclick="registerFlip()">{% if event.registered %}
                                                                                                                Unregister
                                                                                                            {% else %}
                                                                                                                Register
                                                                                                            {% endif %}
                        </button>
                        <style>
                            .registerButton {
                                display:flex;
                                background: #061945;
                                width: 90%; 
                                height: 60px; 
                                padding: 10px; 
                                left: 21px; 
                                top: 425px; 
                                position: absolute; 
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); 
                                border-radius: 10px; justify-content: 
                                center; align-items: 
                                center; gap: 10px; 
                                display: inline-flex;
                                color:#fff;
                                font-size:16px;
                            }
                        </style>
                        <script>
                            var button = document.querySelector(".registerButton");
                        
                          // Function to toggle the global variable and update the button text
                            function registerFlip() {
                                var button = document.querySelector(".registerButton");
                                if(button.textContent === "Unregister")
                                {
                                    button.textContent = "Register";
                                }
                                else
                                {
                                    button.textContent = "Unregister"; 
                                }
                            }
                        </script>
                     </form>
                    
                    <div style="width: 30%; height: 52px; left: 325px; top: 7px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 30%; height: 52px; left: 340px; top: 12px; position: absolute; color: #061945; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Hosted By: {{ event.organization }}</div>
               
                    <div style="width: 90%; height: 136px; left: 21px; top: 236px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 551px; height: 115px; left: 33px; top: 245px; position: absolute; color: white; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Description: {{ event.description }}</div>
                    <div style="width: 90%; height: 25px; left: 21px; top: 188px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 551px; height: 24px; left: 33px; top: 192px; position: absolute; color: white; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Tags: {{ event.tags }}</div>
                    <div style="width: 90%; height: 25px; left: 21px; top: 387px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 551px; height: 24px; left: 33px; top: 391px; position: absolute; color: white; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Contact: {{ event.contact }}</div>
                    
                    <div style="width: 90%; height: 25px; left: 21px; top: 108px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 551px; height: 24px; left: 33px; top: 112px; position: absolute; color: white; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Where: {{ event.where }}</div>
                    <div style="width: 90%; height: 24px; left: 21px; top: 148px; position: absolute; background: #25355A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div>
                    <div style="width: 551px; height: 25px; left: 33px; top: 152px; position: absolute; color: white; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">When: {{ event.when }}</div>
                    
                    <!-- <div style="width: 30%; height: 23px; left: 325px; top: 67px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 10px"></div> -->
                    <!-- <div style="width: 30%; height: 23px; left: 380px; top: 70px; position: absolute; color: #061945; font-size: 14px; font-family: system-ui; font-weight: 400; word-wrap: break-word">Follow</div> -->
                    <form method="POST">
                        <button class="followButton" name = "{{event.organization}}" onclick="followFlip()">{% if userTags == None %}
                                                                                                                Follow
                                                                                                            {% elif event.organization not in userTags %}
                                                                                                                Follow
                                                                                                            {% else %}
                                                                                                                Unfollow
                                                                                                            {% endif %}
                        </button>
                        <style>
                            .followButton {
                                display: flex;
                                background: #ffffff;
                                width: 30%; 
                                height: 23px; 
                                padding: 10px; 
                                left: 325px; 
                                top: 67px; 
                                position: absolute; 
                                box-shadow: 0px 2px 2px #04102c; 
                                border-radius: 10px; justify-content: 
                                center; align-items: 
                                center; gap: 10px; 
                                display: inline-flex;
                                color: #061945;
                                font-size: 14px;
                                font-family: system-ui;
                            }
                        </style>
                        <script>
                            var button = document.querySelector(".followButton");
                        
                          // Function to toggle the global variable and update the button text
                            function followFlip() {
                                var button = document.querySelector(".followButton");
                                if(button.textContent === "Unfollow")
                                {
                                    button.textContent = "Follow";
                                }
                                else
                                {
                                    button.textContent = "Unfollow"; 
                                }
                            }
                        </script>
                     </form>
                    

                </div>
            </div>
          {# </td> #}
            {% endfor %}
   {# </table> #}
    {# </div> #}
        </div>
    </div>

    <!-- End of Showing Events-->



    <!-- Button for posting -->
    <style>
        .postbutton {
            border: none;
            padding: 10px;
            margin: 10px 10px;
            text-align: center;
            text-decoration: none;
            color: #012a5c;
            font-size: 50px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 500;
            width: 60px;
            height: 60px;
            background-color: #d7e6f8;
            border-radius: 30px;
            position: fixed;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

        }
        .postbutton:hover {
            background-color: #b1d4ff;
            transition: 0.1s;
        }
    </style>
    <button class="postbutton", onclick="window.location.href ='posting';" title="Create a post">+</button>



    <!-- Filters sidebar -->

    <div id="filtersContainer" style="background-color:#5078a9;width: 210px; height: calc(100vh - 55px); left: 0px; top: 55px; position: fixed; overflow-y: hidden;">

        <div style="height: 100%; left: 53px; top: 30px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex">
            <div style="color: white; font-size: 24px; font-family: system-ui; font-weight: 500; word-wrap: break-word">Filters</div>
            <br>

            <!-- Styling for Events Filter -->
            <style>
                .facultyFilter 
                {
                    display: flex;
                    align-items: center;
                    color: white; 
                    font-size: 20px; 
                    font-family: system-ui; 
                    font-weight: 350; 
                    word-wrap: break-word;
                    position: relative; 
                    margin-bottom: 0px;
                }

                .facultyFilter a 
                {
                    color: white;
                    text-decoration: none; /* Remove underlines from the link */
                }

                /* Style for the text that shows/hides the dropdown */
                .facultyDropdown-text 
                {
                    cursor: pointer;
                }

                /* Style for the dropdown menu */
                .facultyDropdown 
                {
                    display: none;
                    margin-left: 20px; 
                    margin-top: 0px;
                }

                /* Style for the checkboxes */
                .checkbox-label 
                {
                    display: block;
                    margin: 4px;
                    font-family: 'system-ui';
                    font-weight: 250;
                    color: white;
                }

                .right-arrow::after 
                {
                    content: " ▶";
                    margin-right: 8px;
                    cursor: pointer;
                }

                .down-arrow::after 
                {
                    content: " ▼";
                    margin-right: 8px;
                    cursor: pointer;
                }
            </style>

            <div id="facFilter" class="facultyFilter" onclick="facultyDropdown()">
                <span class="right-arrow" id="facultyArrowIcon"></span>
                <a href="#"><span>Faculty</span></a>
            </div>
            <div class="facultyDropdown" id="facultyDrop">
                {% for faculty in facultyTags %}
                <label class="checkbox-label">
                    <input id="{{faculty|lower|replace(' ', '-')}}" type="checkbox" checked onchange="updateTag(this, '{{faculty}}')">{{faculty}}
                </label>
                {% endfor %}
            </div>
        
            <br>
            
            <!-- Functions for Faculty Filter -->
            <script>
                function facultyDropdown() 
                {
                    var dropdown = document.getElementById("facultyDrop");
                    // Check if the dropdown is currently visible or hidden
                    if (dropdown.style.display === "block") {
                        dropdown.style.display = "none"; // If visible, hide the dropdown
                        document.getElementById("facultyArrowIcon").classList.remove("down-arrow");
                        document.getElementById("facultyArrowIcon").classList.add("right-arrow");
                    } else {
                        dropdown.style.display = "block"; // If hidden, show the dropdown
                        document.getElementById("facultyArrowIcon").classList.remove("right-arrow");
                        document.getElementById("facultyArrowIcon").classList.add("down-arrow");
                    }
                }

                
            </script>

            <!-- Styling for Topics Filter -->
            <style>
                .topcisFilter 
                {
                    display: flex;
                    align-items: center;
                    color: white; 
                    font-size: 20px; 
                    font-family: system-ui; 
                    font-weight: 350; 
                    word-wrap: break-word;
                }
            
                .topcisFilter a 
                {
                    color: white;
                    text-decoration: none; /* Remove underlines from the link */
                }
            
                .topicsDropdown-container 
                {
                        position: relative;
                        display: inline-block;
                }
                
                /* Style for the text that shows/hides the dropdown */
                .topicsDropdown-text 
                {
                    cursor: pointer;
                }

                /* Style for the dropdown menu */
                .topicsDropdown 
                {
                    display: none;
                    margin-left: 20px; 
                }

                /* Style for the checkboxes */
                .checkbox-label 
                {
                    display: block;
                    margin: 4px;
                    font-family: 'system-ui';
                    font-weight: 250;
                    color: white;
                }
            </style>

            <div id="topFilter" class="topcisFilter" onclick="topicDropdown()">
                <span class="right-arrow" id="topicArrowIcon"></span>
                <a href="#"><span>Topics</span></a>
            </div>
            <div class="topicsDropdown" id="topicsDrop">
                {% for topic in topicTags %}
                <label class="checkbox-label">
                    <input id="{{topic|lower|replace(' ', '-')}}" type="checkbox" checked onchange="updateTag(this, '{{topic}}')">{{topic}}
                </label>
                {% endfor %}
            </div>
            <br>

            <!-- Functions for Topic Filter -->
            <script>
                function topicDropdown() 
                {
                    var dropdown = document.getElementById("topicsDrop");
                    // Check if the dropdown is currently visible or hidden
                    if (dropdown.style.display === "block") {
                        dropdown.style.display = "none"; // If visible, hide the dropdown
                        document.getElementById("topicArrowIcon").classList.remove("down-arrow");
                        document.getElementById("topicArrowIcon").classList.add("right-arrow");
                    } else {
                        dropdown.style.display = "block"; // If hidden, show the dropdown
                        document.getElementById("topicArrowIcon").classList.remove("right-arrow");
                        document.getElementById("topicArrowIcon").classList.add("down-arrow");
                    }
                }
            </script>

            <!-- Styling for Price Filter -->
            <style>
                .priceFilter 
                {
                    display: flex;
                    align-items: center;
                    color: white; 
                    font-size: 20px; 
                    font-family: system-ui; 
                    font-weight: 350; 
                    word-wrap: break-word;
                }
            
                .priceFilter a 
                {
                    color: white;
                    text-decoration: none; /* Remove underlines from the link */
                }
            
                .priceDropdown-container 
                {
                    position: relative;
                    display: inline-block;
                }
                
                /* Style for the text that shows/hides the dropdown */
                .priceDropdown-text 
                {
                    cursor: pointer;
                }

                /* Style for the dropdown menu */
                .priceDropdown 
                {
                    display: none;
                    margin-left: 20px; 
                }

                /* Style for the checkboxes */
                .checkbox-label 
                {
                    display: block;
                    margin: 4px;
                    font-family: 'system-ui';
                    font-weight: 250;
                    color: white;
                }
            </style>
        
            <div id="priFilter" class="priceFilter" onclick="priceDropdown()">
                <span class="right-arrow" id="priceArrowIcon"></span>
                <a href="#"><span>Price</span></a>
            </div>
            <div class="priceDropdown" id="priceDrop">
                {% for price in priceTags %}
                <label class="checkbox-label">
                    <input id="{{price|lower|replace(' ', '-')}}" type="checkbox" checked onchange="updateTag(this, '{{price}}')">{{price}}
                </label>
                {% endfor %}
            </div>
            <br>

            <br>
            <!-- Functions for Price Filter -->
            <script>
                // Define the function to be called
                function priceDropdown() 
                {
                    var dropdown = document.getElementById("priceDrop");
                    // Check if the dropdown is currently visible or hidden
                    if (dropdown.style.display === "block") {
                        dropdown.style.display = "none"; // If visible, hide the dropdown
                        document.getElementById("priceArrowIcon").classList.remove("down-arrow");
                        document.getElementById("priceArrowIcon").classList.add("right-arrow");
                    } else {
                        dropdown.style.display = "block"; // If hidden, show the dropdown
                        document.getElementById("priceArrowIcon").classList.remove("right-arrow");
                        document.getElementById("priceArrowIcon").classList.add("down-arrow");
                    }
                }
            </script>
        </div>

        <!-- Filters container script -->
        <script>
            document.getElementById("filtersContainer").addEventListener("mouseenter", function() {
                // Scroll when cursor is at filters
                document.getElementById("filtersContainer").style.overflowY = "auto";
            });
            
            document.getElementById("filtersContainer").addEventListener("mouseleave", function() {
                // No scroll when cursor leaves filters
                document.getElementById("filtersContainer").style.overflowY = "hidden";
            });
        </script>
    </div>

    <!-- Filters container script -->
    <script>
        document.getElementById("filtersContainer").addEventListener("mouseenter", function() {
            // Scroll when cursor is at filters
            document.getElementById("filtersContainer").style.overflowY = "auto";
        });
        
        document.getElementById("filtersContainer").addEventListener("mouseleave", function() {
            // No scroll when cursor leaves filters
            document.getElementById("filtersContainer").style.overflowY = "hidden";
        });
    </script>
{% endblock %}