{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Betula{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* will add styles here */
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Betula</title>
</head>
<body>
  <div class="page-header">
    <!-- <div style="position: relative; color: black; font-size: 40px; font-family: Sora; font-weight: 400; word-wrap: break-word">Welcome to Betula, UofT’s Events Dashboard</div> -->
    <div style="width: 100%; height: 100%; position: relative; background: linear-gradient(243deg, rgba(76, 121, 151, 0.64) 0%, rgba(76, 121, 151, 0) 100%)">
      <div style="left: 243px; top: 487px; position: absolute; color: black; font-size: 40px; font-family: Sora; font-weight: 400; word-wrap: break-word">Welcome to Betula, UofT’s Events Dashboard</div>
      <div style="width: 147px; height: 59px; padding: 10px; left: 467px; top: 624px; position: absolute; background: #5078A9; border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">Join</div>
      </div>
      <div style="width: 147px; height: 59px; padding: 10px; left: 782px; top: 624px; position: absolute; background: #5078A9; border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">Login</div>
      </div>
      <div style="width: 338px; height: 51px; left: 551px; top: 315px; position: absolute; text-align: center; color: #25355A; font-size: 100px; font-family: Raleway; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Betula</div>
    </div>
  </div>
</body>
</html>
{{ wtf.quick_form(form) }}
{% endblock %}