{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Betula{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>


  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Chosen CSS -->
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

  <!-- Chosen JavaScript library -->
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

  <!-- Bootstrap CSS (if not already included) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- Bootstrap JavaScript library -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <script>
    $(document).ready(function () {
      $(".chosen-select").chosen({
        width: "100%"  // This will make the select box take the full width of its container
      });
    });
  </script>


  <style>
    body {
      font-family: system-ui;
    }

    * {
      box-sizing: border-box;
    }

    /* Full-width input fields */
    .form-container input[type=text],
    .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      border-radius: 15px;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus,
    .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      border-radius: 15px;
    }



    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
      opacity: 1;
    }

    /* Adjust the size of the submit button */
    .form-container input[type=submit] {
      width: 100%;
      /* Make the button fill the container */
      padding: 16px 20px;
      /* Increase padding */
      margin-top: 10px;
      /* Add some margin at the top */
      background-color: #5078A9;
      /* Background color */
      color: white;
      /* Text color */
      border: none;
      /* Remove border */
      cursor: pointer;
      /* Cursor style */
      opacity: 0.8;
      /* Add some opacity */
      border-radius: 15px;
    }

    /* Add some hover effects to submit button */
    .form-container input[type=submit]:hover {
      opacity: 1;
      /* Full opacity on hover */
      border-radius: 15px;
    }

    /* Style adjustments for the select element */
    .chosen-select {
      width: 100%;
      /* Ensure width is 100% */
      padding: 20px;
      /* Increase padding to increase height */
      margin: 5px 0 22px 0;
      /* Consistent margin with other input elements */
      border: 1px solid #ccc;
      /* Border to match other input elements */
      border-radius: 15px;
    }

    .collect-data-btn {
      background-color: #007BFF;
      color: #FFFFFF;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-family: system-ui;
      font-size: 14px;
      margin-top: 10px;
      display: block;
    }

    .collect-data-btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>

  <body style="margin: 0; height: 100vh; overflow-x: hidden; overflow-y: auto;">

    <div style="width: 100%; height: 100%; position: relative; background: #FFFFFF">
      <div
        style="height: 672px; left: 286px; top: -150px; position: absolute; flex-direction: column; justify-content: flex-end; align-items: center; gap: 40px; display: inline-flex">
        <div
          style="height: 68.02px; padding-top: 29.02px; padding-right: 834.86px; justify-content: flex-start; align-items: center; display: inline-flex">
          <div
            style="width: 900px; height: 41px; color: #484848; font-size: 32px; font-family: system-ui; font-weight: 650; line-height: 36px; word-wrap: break-word; margin-top: 20px;">
            Welcome, {{ name }}!</div>
        </div>
        <div
          style="align-self: stretch; width: 611.33px; padding: 0 8px; display: flex; flex-direction: column; align-items: flex-end;">

          <!-- Legal name section -->
          <div
            style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: auto; border-bottom: 1px #ffffff solid; padding: 14px 0;">
            <div style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
              <div style="color: #222222; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 20px;">
                Full name</div>
              <div
                style="color: #717171; font-size: 14px; font-family: system-ui; font-weight: 400; line-height: 18px; margin-top: 5px;">
                {{ name }}</div>
            </div>
            <div style="cursor: pointer;" onclick="toggleNameEditForm()">
              <span
                style="color: #222222; font-size: 14px; font-family: system-ui; font-weight: 600; text-decoration: underline; line-height: 20.02px;">Edit</span>
            </div>
          </div>


          <!-- Inline Form for updating the name -->
          <div id="nameEditForm" style="display: none; width: 100%; padding: 10px 0; border-bottom: 1px #FFFFFF solid;">
            <form action="/userprofile" method="POST">
              <label for="name">Enter your name:</label>
              <input type="text" id="name" name="name">
              <input name = "name" type="submit" value="Update Name">
            </form>
          </div>

          <!-- Email address section -->
          <div
            style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: auto; border-bottom: 1px #FFFFFF solid; padding: 14px 0;">
            <div style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
              <div style="color: #222222; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 20px;">
                Email address</div>
              <div
                style="color: #717171; font-size: 13px; font-family: system-ui; font-weight: 400; line-height: 18px; margin-top: 5px;">
                {{ email }}</div>
            </div>
            <div style="cursor: pointer;" onclick="toggleEmailEditForm()">
              <span
                style="color: #222222; font-size: 14px; font-family: system-ui; font-weight: 600; text-decoration: underline; line-height: 20.02px;">Edit</span>
            </div>
          </div>
          <!-- Inline Form for updating the name -->
          <div id="emailEditForm" style="display: none; width: 100%; padding: 10px 0; border-bottom: 1px #FFFFFF solid;">
            <form action="/userprofile" method="POST">
              <label for="email">Enter your email:</label>
              <input type="text" id="email" name="email">
              <input name = "email" type="submit" value="Update Email">
            </form>
          </div>

          <!-- Password section -->
          <div
            style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: auto; border-bottom: 1px #FFFFFF solid; padding: 14px 0;">
            <div style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
              <div style="color: #222222; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 20px;">
                Password </div>
              <div
                style="color: #717171; font-size: 14px; font-family: system-ui; font-weight: 400; line-height: 18px; margin-top: 5px;">
                {{ password }}</div>
            </div>
            <div style="cursor: pointer;" onclick="togglePasswordEditForm()">
              <span
                style="color: #222222; font-size: 14px; font-family: system-ui; font-weight: 600; text-decoration: underline; line-height: 20.02px;">Edit</span>
            </div>
          </div>
          <!-- Inline Form for updating the password -->
          <div id="passwordEditForm"
            style="display: none; width: 100%; padding: 10px 0; border-bottom: 1px #FFFFFF solid;">
            <form action="/userprofile" method="POST" id="passwordForm">
              <label for="password">Enter your password:</label>
              <input type="text" id="password" name="password">
              <input name = "password" type="submit" value="Update Password">
            </form>

          </div>
          <div
            style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; border-bottom: 1px #FFFFFF solid; padding: 14px 0;">
            <div style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
              <div style="color: #222222; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 20px;">
                Tags</div>

              <div id="tagDisplay"
                style="display: none; color: #717171; font-size: 14px; font-family: system-ui; font-weight: 400; line-height: 18px; margin-top: 5px;">
                Not provided
              </div>


              <!-- Filters form wrapped inside the column div -->
              <div id="tagEditForm"
                style="display: none; width: 100%; padding: 10px 0; border-bottom: 1px #FFFFFF solid;">
                <form method="POST" id="tagForm">
                  <div class="form-group">
                    <!-- <label for="filter">Select Tag:</label> -->
                    <select data-placeholder="Select Tags..." multiple class="chosen-select" id="filter" name="filters[]"
                      style="width: 100%;" onchange="updateTagDisplay()">
                      <option value="Faculty of Applied Science and Engineering">Faculty of Applied Science and Engineering</option>
                      <option value="Trinity College">Trinity College</option>
                      <option value="University College">University College</option>
                      <option value="St. Michaels College">St. Michaels College</option>\
                      <option value="Victoria College">Victoria College</option>
                      <option value="Professional">Professional</option>
                      <option value="Cultural">Cultural</option>
                      <option value="Social Work/Charity">Social Work / Charity</option>
                      <option value="Fitness">Fitness</option>
                      <option value="Social">Social</option>
                      <option value="Sports">Sports</option>
                      <option value="Free">Free</option>
                      <option value="Paid">Paid</option>
                      <option value="Free Food">Free Food</option>
                    </select>
                  </div>
                  <button name = "filter_form" type="submit" class="btn btn-primary" onclick="applyFilters()">Apply Filters</button>
                </form>
              </div>
            </div>

            <!-- Edit link to show the tags -->
            <div style="cursor: pointer;" onclick="toggleTagEditForm()">
              <span
                style="color: #222222; font-size: 14px; font-family: system-ui; font-weight: 600; text-decoration: underline; line-height: 20.02px;">Edit</span>
            </div>
          </div>

          <form method="POST" id="stringencyForm" action="/userprofile">
            <div class="checkbox">
              <!-- Hidden input to ensure 'stringency' key is always present -->
              <input type="hidden" name="stringency" value="False">

              <label>
                <input type="checkbox" id="stringency" name="stringency" value="True" {% if stringency_value == 'True' %}checked{% endif %}>
                  Tag stringency (events will be filtered to match these tags or the organizations you follow)
              </label>
            </div>
          </form>

          <button type="button" class="btn btn-primary" onclick="redirectToIndex()">Logout</button>

        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- <div style="width: 150px; height: 954px; left: 0px; top: 40px; position: absolute; background: #5078A9"></div>
    <div
      style="left: 25px; top: 100px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 30px; display: inline-flex">
      <div
        style="width: 79px; color: white; font-size: 25px; font-family: system-ui; font-weight: 500; word-wrap: break-word">
        Filters</div>
      <div
        style="width: 79px; color: white; font-size: 15px; font-family: system-ui; font-weight: 400; word-wrap: break-word">
        Faculty</div>
      <div
        style="width: 79px; color: white; font-size: 15px; font-family: system-ui; font-weight: 400; word-wrap: break-word">
        Topics</div>
      <div
        style="width: 79px; color: white; font-size: 15px; font-family: system-ui; font-weight: 400; word-wrap: break-word">
        Price</div>
    </div>
    <div style="width: 1440px; height: 60px; left: 0px; top: 0px; position: absolute; background: #012A5C"></div>
    <div style="width: 1316px; height: 52px; left: 53px; top: 9px; position: absolute">
      <div
        style="width: 165px; height: 51px; left: 0px; top: 1px; position: absolute; font-size: 30px; font-family: Sora; font-weight: 600; text-transform: capitalize; word-wrap: break-word">
        <a href="/" style="color: white; text-decoration: none;">Betula</a>
      </div>
      <div
        style="width: 200px; height: 28px; left: 200px; top: 10px; position: absolute; text-align: right; font-size: 20px; font-family: system-ui; font-weight: 500; word-wrap: break-word">
        <a href="/dashboard" style="color: white; text-decoration: none;">Dashboard</a>
      </div>

      <div
        style="width: 192px; height: 28px; left: 571px; top: 10px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: system-ui; font-weight: 500; word-wrap: break-word">
        Recommended</div>
      <div
        style="width: 155px; height: 28px; left: 851px; top: 10px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: system-ui; font-weight: 500; word-wrap: break-word">
        My Events</div>
      <img style="width: 49px; height: 49px; left: 1267px; top: 0px; position: absolute"
        src="https://via.placeholder.com/49x49" />
    </div>
    </div> -->
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.getElementById('stringency');
        var form = document.getElementById('stringencyForm');

        // event listener to detect changes in the checkbox 
        checkbox.addEventListener('change', function() {
            // update the hidden input value based on checkbox state
            document.querySelector('input[name="stringency"]').value = checkbox.checked ? 'True' : 'False';
            form.submit();
        });
      });


      function hideAllForms() {
        document.getElementById('nameEditForm').style.display = 'none';
        document.getElementById('emailEditForm').style.display = 'none';
        document.getElementById('passwordEditForm').style.display = 'none';
        document.getElementById('tagEditForm').style.display = 'none';
      }

      function toggleNameEditForm() {
        hideAllForms();
        const formDiv = document.getElementById('nameEditForm');
        formDiv.style.display = 'block';
      }

      function toggleEmailEditForm() {
        hideAllForms();
        const formDiv = document.getElementById('emailEditForm');
        formDiv.style.display = 'block';
      }

      function togglePasswordEditForm() {
        hideAllForms();
        const formDiv = document.getElementById('passwordEditForm');
        formDiv.style.display = 'block';
      }

      function applyFilters() {
          // Update the tag display
          updateTagDisplay();
          
          // Fetch the selected tags
          const tagSelect = document.getElementById('filter');
          const selectedTags = Array.from(tagSelect.selectedOptions).map(option => option.text);
          
          // Send the tags to the server
          fetch('/print-tags', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({tags: selectedTags}),
          })
          // .then(response => response.blob())
          // .then(blob => {
          //     const url = window.URL.createObjectURL(blob);
          //     const a = document.createElement('a');
          //     a.style.display = 'none';
          //     a.href = url;
          //     a.download = 'tags.csv';
          //     document.body.appendChild(a);
          //     a.click();
          //     window.URL.revokeObjectURL(url);
          // });
      }


      function toggleTagEditForm() {
        hideAllForms();
        const formDiv = document.getElementById('tagEditForm');
        formDiv.style.display = 'block';
      }


      function updateTagDisplay() {
        const tagSelect = document.getElementById('filter');
        const selectedTags = Array.from(tagSelect.selectedOptions).map(option => option.text).join(', ');

        const displayElement = document.getElementById('tagDisplay');

        if (selectedTags.length) {
          displayElement.innerText = selectedTags;
        } else {
          displayElement.innerText = 'Not provided';
        }
      }


      // This function saves the selected tags to localStorage
      function saveSelectedTags() {
        const tagSelect = document.getElementById('filter');
        const selectedTags = Array.from(tagSelect.selectedOptions).map(option => option.text);
        localStorage.setItem('selectedTags', JSON.stringify(selectedTags));
      }

      // This function loads the selected tags from the database filter variable and selects them in the form
      function loadSelectedTags() {
        var selectedFilters = {{ selected_filters | tojson | safe }};
        const selectedTags = JSON.parse(selectedFilters);
        const tagSelect = document.getElementById('filter');
        const tagDisplay = document.getElementById('tagDisplay');

        console.log("SELECTED TAGS: ", selectedTags)

        if (selectedTags && selectedTags.length) {
          selectedTags.forEach(tag => {
            const option = tagSelect.querySelector(`option[value="${tag}"]`);
            if (option) {
              option.selected = true;
            }
          });
          updateTagDisplay();
        } else {
          updateTagDisplay();
        }

        tagDisplay.style.display = 'block';
      }


      // This function is called when the form is submitted
      document.getElementById('tagForm').addEventListener('submit', function (event) {
        event.preventDefault();  // Stop the form from submitting and refreshing the page
        document.getElementById('tagEditForm').style.display = 'none';
        updateTagDisplay();
        saveSelectedTags();  // Save the selected tags to localStorage
      });

      // Load the selected tags from database when the page is loaded
      window.onload = function () {
        loadSelectedTags();
        updateTagDisplay();
      }

function collectProfileData() {
    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const tagSelect = document.getElementById('filter');  // Assuming the filter select has the id 'filter'
    const selectedTags = Array.from(tagSelect.selectedOptions).map(option => option.text);  // get the values of selected tags

    const profileData = {
      name: name,
      email: email,
      password: password,
      tags: selectedTags
    };
    console.log(profileData); 
    // Send this data to the server
    fetch('/saveToCSV', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(profileData),
    })
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'profileData.csv';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    });
}


      function redirectToIndex() {
          window.location.href = '/';
      }

      
    </script>




  </body>

</html>
{% endblock %}
